.header {
    position: fixed;
    right: 40px;
    top: 28px;
   

    .menu {
        width: 480px;
        height: 480px;
        margin-top: 0px;
        background-color: #f5f7f9;
        border-radius: 20px;
        position: relative;
    }
}